{
  // Extend Firefox Devtools ESLintrc
  "extends": "./.eslintrc.mozilla",
  "plugins": [
    "react",
    "mozilla"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "amd": true,
    "jquery": true
  },
  "globals": {
    "NetMonitorView": true,
    "Locale": true,
    "Options": true,

    // Used in network-content-script
    "EVENTS": true,
  }
}
