/* See license.txt for terms of usage */

/******************************************************************************/
/* Network Panel */

/* Web Socket Icon */
.requests-menu-status.websocket {
  background-image: url("./tool-websockets.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  width: 16px;
  height: 16px;
  transition: none;
  border-radius: 0;
  margin: 2px;

  /* Path to built-in theme resource has changed in Firefox 45
  Befor: 45: chrome://devtools/skin/themes/images/filters.svg#invert
  45+: chrome://devtools/skin//images/filters.svg#invert
  The local copy can be remove as soon as the min Fx version is 45*/
  filter: url(./filters.svg#invert);
}

.theme-firebug box.requests-menu-status.websocket {
  background-color: transparent !important;
}

/******************************************************************************/
/* Response Side Panel */

.theme-firebug #response-tabpanel #response-content-ws-box {
  background-color: white;
}

#response-tabpanel #response-content-ws-box {
  padding: 7px;
}

#response-tabpanel #response-content-ws-box .title {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}

#response-tabpanel #response-content-ws-box .desc {
  color: gray;
}

#response-tabpanel #response-content-ws-box .link {
  color: blue;
  cursor: pointer;
}

#response-tabpanel #response-content-ws-box .link:hover {
  text-decoration: underline;
}

.theme-light #response-tabpanel #response-content-ws-box .desc,
.theme-dark #response-tabpanel #response-content-ws-box .desc {
  color: var(--theme-body-color-alt);
}

.theme-dark #response-tabpanel #response-content-ws-box .link {
  color: white
}
