/* See license.txt for terms of usage */

/******************************************************************************/
/* Network Panel */

.requests-menu-status.websocket {
  background-image: url("./tool-websockets.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  width: 16px;
  height: 16px;
  transition: none;
  border-radius: 0;
  margin: 2px;
  filter: url(chrome://devtools/skin/themes/images/filters.svg#invert);
}

.theme-firebug box.requests-menu-status.websocket {
  background-color: transparent !important;
}
