/* See license.txt for terms of usage */

/******************************************************************************/
/* General Styles */

body {
  background-color: white;
  font-size: 12px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

code {
  font-family: monospace;
  background: rgb(249, 249, 249);
  padding: 1px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

*:focus {
  outline: none !important;
}

.theme-light body,
.theme-dark body {
  background-color: var(--theme-body-background);
  color: var(--theme-body-color);
}

/******************************************************************************/
/* Main Layout */

#content,
.mainPanelBox,
#content .mainPanel,
#content .sidePanel,
#content .mainPanelContent {
  width: 100%;
  height: 100%;
}

/* Height of the main panel content exclude the toolbar. Height of
   the toolbar is 27px + 2px padding */
.theme-firebug #content .mainPanelContent {
  height: calc(100% - 31px);
  overflow: auto;
}

.theme-light #content .mainPanelContent,
.theme-dark #content .mainPanelContent {
  height: calc(100% - 24px);
  overflow: auto;
}

#content .rightPanel {
  width: 30%;
}

/******************************************************************************/
/* Sidebar tabs customization - Firebug Theme */

/* Make the tab side-bar look the same as the main toolbar */
.theme-firebug .tabs .tabs-navigation {
  background-color: #dbeaf9;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)) !important;
  height: 26px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  font-size: 11px;
}

.theme-firebug .splitterBox .splitter > .innerBox {
  height: 27px;
}

/* This is the trick that makes the tab bottom border invisible */
.theme-firebug .tabs .tabs-menu-item {
  position: relative;
  bottom: -1px;
}

.theme-firebug .tabs .tabs-menu-item.is-active a,
.theme-firebug .tabs .tabs-menu-item.is-active:hover a {
  background-color: white !important;
}

/* Make sure there are scroll-bars in the side panel */
.tabs .tab-panel {
  overflow: auto;
}

/******************************************************************************/
/* Payload */

.payloadTabContent {
  padding: 3px;
  font-family: monospace;
}

/* Do not display the bottom border for inline tree-preview for payload */
.payload .domTable > tbody > tr > td {
  border-bottom: none;
}
